@model IEnumerable<Tailstale.Models.business_img_type>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        td {
            max-width: 300px; /* 设置最大宽度 */
            overflow: hidden; /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 使用省略号表示更多内容 */
            white-space: nowrap; /* 强制文本在同一行显示 */
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border-radius: 5px;
        }

        th, td {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .bi {
            font-size: 22px;
        }
    </style>
}
<header>
    <partial name="_NavBar" />
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a asp-area="" asp-controller="Salon" asp-action="Settings">美容設定</a></li>
        <li class="breadcrumb-item active" aria-current="page">圖片分類</li>
    </ol>
</nav>
<h1>圖片類型</h1>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="bi bi-hand-index-thumb"></i>Create New</a>
</p>


<div>
    <h3><i class="bi bi-search"></i>美容門市圖片分類</h3>
    <table class="table border table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.typename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.created_at)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FK_business)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.typename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FK_business.name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="bi bi-highlighter"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-info-circle"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.ID"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


@section Scripts
{
    
}



@* <table class="table border table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_business)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_business.name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><i class="bi bi-highlighter"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-info-circle"></i>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
