@model IEnumerable<Tailstale.Models.Reserve>


<table class="table border table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pet_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.business)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keeper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pet_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.business.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keeper.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    <a asp-action="Create" asp-controller="Consumption_Record"
                       asp-route-keeper_id="@item.keeper_id"
                       asp-route-pet_name="@item.pet_name"
                       asp-route-business_ID="@item.business_ID"
                       asp-route-time="@item.time.ToString("yyyy-MM-ddTHH:mm")"
                       asp-route-service_name="@item.service_name"
                       class="btn btn-primary">建立消費紀錄</a>
            </td>
        </tr>
}
    </tbody>
</table>
