@model IEnumerable<Tailstale.Models.Reserve>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        td {
            max-width: 300px; /* 设置最大宽度 */
            overflow: hidden; /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 使用省略号表示更多内容 */
            white-space: nowrap; /* 强制文本在同一行显示 */
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border-radius: 5px;
        }

        th, td {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .bi {
            font-size: 22px;
        }

        
        .mybtn {
            background-color: #fa2;
        }
    
    </style>
}
@* <header>
    <partial name="_NavBar" />
</header> *@
<div class="container">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a asp-area="" asp-controller="Salon" asp-action="Settings">美容設定</a></li>
        <li class="breadcrumb-item active" aria-current="page">預約紀錄</li>
    </ol>
</nav>
<h1>預約紀錄</h1>

<p>
    <a class="btn mybtn" asp-action="Create"><i class="bi bi-hand-index-thumb"></i>新增預約</a>
</p>
<div>
    <h3><i class="bi bi-search"></i>依據日期查詢預約</h3>
    
    <input type="date" class="form-control" id="time" name="time" value="" />
    <input id="selectday" type="submit" value="查詢" class="btn mybtn mt-2" />
    <div class="mb-3">
        <div id="orders">
            <table class="table border table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.pet_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.service_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.created_at)
                        </th>
                        <th>
                            門市
                            @* @Html.DisplayNameFor(model => model.business) *@
                        </th>
                        <th>
                            會員
                            @* @Html.DisplayNameFor(model => model.keeper) *@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.pet_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.service_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.business.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.keeper.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.statusNavigation.status_name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id"><i class="bi bi-highlighter"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.id"><i class="bi bi-info-circle"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.id"><i class="bi bi-trash-fill"></i></a>
                                <a asp-action="Create" asp-controller="Consumption_Record"
                                   asp-route-keeper_id="@item.keeper_id"
                                   asp-route-pet_name="@item.pet_name"
                                   asp-route-business_ID="@item.business_ID"
                                   asp-route-time="@item.time.ToString("yyyy-MM-ddTHH:mm")"
                                   asp-route-service_name="@item.service_name"
                                   class="btn btn-primary">消費紀錄</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>@*局部顯示會在這裡*@
    </div>
</div>
</div>

@section Scripts
{
    <script>
        function updateOrders() { //查詢要發送ajax呼叫,不會刷新
         
            var selectedDate = document.getElementById("time").value;
            $.ajax({ //ajax呼叫需要接物件當參數,物件用{},物件要填屬性

                type: "post",//動詞get
                //url:`/Customers/Orders/${CustomerId.value}`,//``可以把變數帶進去, 這段這樣寫發行會有問題,這只能在vs用
                url: `@Url.Action("Index", "Reserve")`, //這是發行後可以網址正常,Url是urlhelper,負責生成網址列?的內容,這段是server端語法
                data: { 
                    time: selectedDate },
            }).done(data => {  //成功要做啥,收到結果,如果收到data要拿來做甚麼用,後端送回來的data是html(因為是IActionResult),
                $("#orders").html(data);//抓到orders把它整個內容(html)換掉換成data
            }).fail(err => { //呼叫錯誤要做啥,收到error要拿來做啥
                console.log(err.responseText);//他就給你error而已?,也可以用.statusCode狀態瑪?,或用status
            });
        }

        $("#selectday").on("click", function () {//偵測下拉選項的選項如果改變,
            //alert(CustomerId.value);  秀出她的value,這樣就可以查到下拉選項隱藏的內容,我只要拿這個CustomerId(我們想做關聯查詢的那個紀錄)欄位資料發送呼叫到server端撈出這個客戶的訂單就可以了

            updateOrders();//使用此函

        });

    </script>
}
