@model IEnumerable<Tailstale.Hospital_ViewModel.vet_information_ViewModel>


@{
    ViewData["Title"] = "Index";
}

@section Styles
{    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

<h3>醫師資訊管理</h3>
<hr>

<div class="container">
    <div class="row">       
        <div class="list-group col-2 text-start">
            <a asp-action="Index" asp-controller="Appointments" class="list-group-item list-group-item-action sidebar-item">預約記錄管理</a>
            <a asp-action="Index" asp-controller="daily_outpatient_clinic_schedule" class="list-group-item list-group-item-action sidebar-item">門診表管理</a>
            <a asp-action="Index" asp-controller="outpatient_clinic" class="list-group-item list-group-item-action sidebar-item ">門診資訊管理</a>
            <a asp-action="Index" asp-controller="departments" class="list-group-item list-group-item-action sidebar-item">科別管理</a>
            <a asp-action="Index" asp-controller="vet_information" class="list-group-item list-group-item-action sidebar-item active">醫師資訊管理</a>
            <a asp-action="Index" asp-controller="ward" class="list-group-item list-group-item-action sidebar-item">院內病房管理</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 6</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 7</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 8</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 9</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 10</a>
        </div>
       
        <div class="col-10">           
            <div class="mb-2">
                <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> 新增醫師資訊</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.business)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vet_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.license_number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.employment_status)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.business.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.department.department_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vet_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.license_number)
                            </td>
                            <td>
                                @if (item.employment_status)
                                {
                                    <p>在職</p>
                                }
                                else
                                {
                                    <p>離職</p>
                                }
                            </td>
                            <td>
                                <div class="text-end">
                                    <a asp-action="Edit" asp-route-id="@item.vet_ID" class="btn btn-outline-secondary me-1">修改醫師資訊</a>
                                    <a asp-action="Details" asp-route-id="@item.vet_ID" class="btn btn-outline-primary me-1" data-bs-toggle="modal" data-bs-target="#vetDetail-@item.vet_ID">詳細資訊</a>
                                    @* <a asp-action="Delete" asp-route-id="@item.vet_ID" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a> *@
                                </div>
                            </td>
                        </tr>

                        <!-- vetInfo_Modal Start-->
                        <div class="modal fade" id="vetDetail-@item.vet_ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">醫師個人資訊</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <partial name="_vetDetail_Partial" model="@item">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- vetInfo_Modal End-->
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
                        
        })
    </script>
}
