@model IEnumerable<Tailstale.Models.nursing_record>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.biological_test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vital_sign_record)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.biological_test.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pet.pet_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vital_sign_record.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
