@model Tailstale.Models.BookingDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bdAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bdAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bdTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bdTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.booking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.booking.bookingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.roomID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bdID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
