@model IEnumerable<Tailstale.Hotel_DTO.BookingDetailDTO>


<table class="table">
    <thead>
        <tr>
            <th>預訂 ID</th>
            <th>房間類型</th>
            <th>房間數量</th>
            <th>單價</th>
            <th>單價總價</th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.bookingID</td>
                <td>@booking.roomName</td>
                <td>@booking.bdAmount</td>
                <td>@booking.roomPrice</td>
                <td>@booking.bdTotal</td>
                
               
            </tr>
           
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var baseAddress = "https://localhost:7112";
        window.onload = (e) => {
            var p = 100000;
            var result = $.ajax({
            })
                .done(data => { })
                .fail(err => { });

        }
       
       // $("#").on("keyup", async function () {
            // var p = parseInt($("#roomID").val());
            // var e = parseInt($("#bdAmount").val());

            // // alert(e)
            // if (e >= 1) {
            //     var result = await $.ajax({
            //         type: "POST",
            //         url: `${baseAddress}/BookingDetails/GetRoomPrice`,
            //         data: JSON.stringify({
            //             roomID: p,
            //             roomAmount: e

            //         }), // 將 p 轉換為 JSON 字串
            //         contentType: "application/json"
            //     })
            //         .done(data => { $("#bdTotal").val(data); })
            //         .fail(err => { alert(err) });
            // }
            // else {
            //     alert("123")
            // }
      //  });
    </script>
}
