@model IEnumerable<Tailstale.Hotel_DTO.RoomInfoDTO>

@section Styles{
    <style>
      
        body {
            background-color: #f5f7fd;
            padding:0;
        }


        .accordion-button:focus {
            box-shadow: none;
        }

        .accordion-item{
            border-color: #613030 !important;
        }

        .accordion-button {
            background-color: #B87070 !important; /* 展開時的背景色 */
            color: #FFFF37 !important; /* 展開時的文字顏色 */

            
        }
        .centerrow{
            width:90%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .context{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

       
    </style>
}

@{
    int sumCatDog = ViewBag.Selected.cat + ViewBag.Selected.dog;
    DateTime bookingdate = DateTime.Now;
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <!--飯店資訊-->
            <div class="card mb-3" style="width:100%;">
                <div class="card-body">
                    <h5 class="card-title">入住飯店</h5>
                    <h5 class="card-title"><strong>@ViewBag.HotelInfo.name</strong></h5>
                    <h6 class="card-subtitle">@ViewBag.HotelInfo.address</h6>
                </div>
            </div>
            <!--入住資訊-->
            <div class="card mb-3" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <h5 class="card-title"><strong>您的訂房資訊</strong></h5>
                            <div class="col">
                                <h6 class="card-subtitle">入住時間</h6>
                                <p class="card-text"><strong>@ViewBag.Selected.startdate</strong></p>
                                <p>總共入住：</p>
                                <p>@ViewBag.totalDays 晚</p>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle">退房時間</h6>
                                <p class="card-text"><strong>@ViewBag.Selected.enddate</strong></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p>已選擇：</p>
                        @if (ViewBag.Selected.cat != 0 && ViewBag.Selected.dog != 0)
                        {
                            <p> @sumCatDog 間客房（ @ViewBag.Selected.cat 貓  @ViewBag.Selected.dog 狗）</p>
                        }
                        else if (ViewBag.Selected.cat != 0)
                        {
                            <p> @sumCatDog 間客房（ @ViewBag.Selected.cat 貓）</p>
                        }
                        else if (ViewBag.Selected.dog != 0)
                        {
                            <p> @sumCatDog 間客房（ @ViewBag.Selected.dog 狗）</p>
                        }

                        @foreach (var room in ViewBag.roomInfo)
                        {
                            <p>@room.roomQuantity x @room.roomName - @room.roomSpecies </p>
                        }
                        <a href="#">更多</a>


                    </li>

                </ul>
            </div>
           
        </div>

        <div class="col-8">
            <div class="w-75">
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item context">
                        
                        <div class="d-flex align-items-center justify-content-center">
                            
                            <div class="row centerrow">
                                <div style="display: flex;align-items: center;justify-content: center;"><h4>預訂資料</h4></div>
                                <h5 class="card-title" style="display: flex;align-items: center;justify-content: center;"><strong>旅館名稱:@ViewBag.HotelInfo.name</strong></h5>
                                <div class="col-6" style="width: 50%;padding-left: 5%;">
                                    <div>訂購人姓名: @ViewBag.keeperName</div>
                                    <div>總價格:TWD @ViewBag.BookingTotal.ToString("N0")</div>

                                    <div>入住日期</div>
                                    <div>@ViewBag.Selected.startdate</div>
                                </div>
                                <div class="col-6" style="width: 50%;padding:0;">
                                    <div>下單日期:@bookingdate.ToString("yyyy-MM-dd")</div>
                                    <div>總共入住： @ViewBag.totalDays 晚</div>
                                    <div>退房日期</div>
                                    <div>@ViewBag.Selected.enddate</div>
                                </div>
                            </div>
                        </div>
                        


                    </li>
                    <li class="list-group-item context">
                        <div>
                            <div style="display: flex;align-items: center;justify-content: center;"><h4>詳細預訂資訊</h4></div>
                            <div class="d-flex align-items-center justify-content-center">
                            <div class="row centerrow">
                               
                                @foreach (var bd in ViewBag.roomInfo)
                                {
                                    <div class="row">
                                        <div class="col-6"> @bd.roomName x @bd.roomQuantity 間 </div>
                                        <div class="col-6">TWD @bd.roomPriceTotal.ToString("N0") 元</div>
                                    </div>
                                }
                               
                            </div>
                           
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item context">

                        <div class="row centerrow">
                            <div style="display: flex;align-items: center;justify-content: center;"><h4>入住資訊</h4></div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="row centerrow">
                            @foreach (var room in Model)
                            {

                                <div class="row mb-2">
                                            <div class="col-6"><div> @room.roomInfo.roomSpecies - @room.roomInfo.roomName</div></div>
                                    <div class="col-6">
                                    
                                    @foreach (var pet in room.myReviewBooking)
                                    {
                                        <strong>@pet.petType - @pet.petName </strong>
                                        <br />
                                    }
                                    </div>
                                </div>
                            }
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item d-flex flex-row-reverse">
                        <button class="btn btn-outline-primary me-5 p-2 fs-4 gotoECPay">送出訂單</button>
                    </li>
                </ul>
            </div>
            
        </div>
     
      
    </div>
    <div>
            @*  <!--房價明細-->
            <div class="card mb-3" style="width: 100%;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <div class="row">
            <h5 class="card-title"><strong>房價明細</strong></h5>
            <div class="col">總金額</div>
            <div class="col"> <p class="card-text"><strong>TWD @ViewBag.BookingTotal.ToString("N0")</strong></p></div>
            </div>
            </li>
            <li class="list-group-item">
            <p>價格資訊</p>
            @foreach (var room in ViewBag.roomInfo)
            {
            int a = room.roomPriceTotal;
            <div class="row">
            <div class="col">
            <p>@room.roomName - @room.roomSpecies x @room.roomQuantity</p>
            </div>
            <div class="col">TWD @a.ToString("N0")  </div>
            </div>

            }
            </li>
            </ul>
            </div>
            <!--寵物資訊手風琴-->
            <div class="accordion" id="accordionPanelsStayOpenExample">
            @{
            int i = 0;
            }
            @foreach (var room in Model)
            {
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-@i">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="false" aria-controls="panelsStayOpen-collapse-@i">
            @room.roomInfo.roomName @room.roomInfo.roomSpecies
            </button>
            </h2>
            <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@i">

            <div class="accordion-body ms-2">
            @foreach (var pet in room.myReviewBooking)
            {
            <strong>@pet.petType - @pet.petName </strong>

            <br />
            }
            </div>

            </div>
            </div>
            i++;
            }
            </div> *@

    </div>

    <div id="divContent"></div>
    
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var baseAddress = "https://localhost:7112/";
            // var bt = document.querySelector('#sendInfoBtn');
            // bt.addEventListener('click', function () {
            //     sendPaymentInfo();
            // });
            // var cardList = document.querySelector('.getCard');
            // cardList.addEventListener('change', function () {
            //     updateOptions(cardList);
            // });
            var btnGotoECPAy = document.querySelector('.gotoECPay');
            btnGotoECPAy.addEventListener('click', function () {
                var TotalAmount = @ViewBag.BookingTotal;
                var TradeDesc = "HotellID: @ViewBag.HotelInfo.ID" +"預訂費用";
                var ItemName = "@ViewBag.HotelInfo.name" + "旅館預訂";
                var sendinfo = { "TotalAmount": TotalAmount, "TradeDesc": TradeDesc, "ItemName": ItemName };

                gotoECPay(sendinfo);
            });

            function gotoECPay(sendinfo) {

                axios.post(`${baseAddress}Hotels/CreateANewBooking`)
                    .then(response=>{
                      //  alert(response.data);
                        sendinfo.BookingID = response.data.toString();
                        console.log(sendinfo);
                        axios.post(`${baseAddress}ECPay/GotoECPay`, sendinfo)
                            .then(response => {
                                // 將返回的表單插入到頁面中
                                $("#divContent").html(response.data);

                                // 提交表單
                                $("#payForm").submit();
                                //  alert("123");
                            })
                            .catch(err => {
                                alert(err);
                            });
                    })
                .catch(err=>{
                    alert(err);
                })

                
            };

            function sendPaymentInfo() {
                var payment = [];
                const paymentInfo = document.querySelector('.paymentInfo');
                var cardholdername = "";
                cardholdername= paymentInfo.querySelector('#cardholdername').value;
                const cardnumber = paymentInfo.querySelector('#credit-card').value;
                const month = paymentInfo.querySelector('#month').value;
                const cvv = parseInt(paymentInfo.querySelector('#cvv').value);
                var formattedDate = "";
                if (month) {
                    const [year, monthValue] = month.split('-'); // 分割年份和月份
                    const lastDate = new Date(year, parseInt(monthValue), 0); // 獲取該月的最後一天

                    // 將年份、月份和最後一天組合成 YYYY-MM-DD 格式
                    formattedDate = `${lastDate.getFullYear()}-${String(lastDate.getMonth() + 1).padStart(2, '0')}-${String(lastDate.getDate()).padStart(2, '0')}`;
                   

                }
                payment.push({ "cardName": cardholdername, "cardNumber": cardnumber, "cardExpirationDate": formattedDate, "cvvNumber": cvv });
                console.log(payment);
                //alert(payment);

                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `${baseAddress}Hotels/SaveBooking`; // 目標 URI

                // 將 payment 陣列轉換為 JSON 字串
                const ConvertPayment = JSON.stringify(payment);

                // 創建一個隱藏的輸入元素來存放 JSON 字串
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'payment'; // 你可以根據需要修改這個名稱
                input.value = ConvertPayment;

                // 將輸入元素添加到表單中
                form.appendChild(input);

                // 將表單添加到文檔中並提交
                document.body.appendChild(form);
                form.submit(); // 提交表單

                // axios.post(`${baseAddress}Hotels/SaveBooking`, payment, { headers: { 'Content-Type': 'application/json' } })
                //     .then(response => {
                //         window.location.href = response.data.redirectUrl;
                    
                //     })
                //     .catch(err => { alert(err) })

            };


            function updateOptions(cardList) {
               
                const cardNumber = cardList.value;
                if (cardList.value != "請選擇卡片"){
                    getCardInfo();
                }
               
            };
            

            function getCardInfo() {
                var mycardNumber = event.target.value;
                var cardInfo = { cardNumber: mycardNumber };

                axios.post(`${baseAddress}Hotels/SearchPaymentInfo`, cardInfo, {
                             headers: { 'Content-Type': 'application/json' }
                         })
                    .then(response => {
                        const data = response.data;
                        let cardholdername = document.querySelector('#cardholdername').value; // 使用 let
                        let creditcard = document.querySelector('#credit-card').value; // 使用 let

                        setMonthValue(data.cardExpirationDate);
                        cardholdername = data.cardName; // 現在可以重新賦值
                        creditcard = data.cardNumber; // 現在可以重新賦值

                        // 如果需要，可以將新的值設定回對應的輸入框
                        document.querySelector('#cardholdername').value = cardholdername;
                        document.querySelector('#credit-card').value = creditcard;


                    })
                    .catch(err => { alert(err) });


            };

            function setMonthValue(month) {
                var date = new Date(month); // 注意月份從 0 開始
                // 設定為當前月份，例如：2024-08
                
                const year = date.getFullYear();
                const Cmonth = String(date.getMonth() + 1).padStart(2, '0'); // 確保月份是兩位數
                const monthValue = `${year}-${Cmonth}`;

                // 賦值給 input
                document.getElementById('month').value = monthValue;
            };
        });
       
    </script>
}
