@model Tailstale.Hotel_DTO.BookingAndCheckinDTO

@section Styles{

    <style>
        body {
            background-color: #f5f7fd;
        }

        .container {
            display: flex;
            justify-content: center;
            justify-items: center;
        }

        img {
            max-height: 200px;
        }

        .card {
            padding: 1% 5% 5% 8%;
            display: flex;
            justify-content: center;
            justify-items: center;
        }

        .centerrow {
            display: flex;
            justify-content: center;
        }
    </style>
    

}

<div class="container">
    <div class="row" style="width: 80%;">
        <div class="centerrow">
            <img src="~/images/tickcirclelinear_106244.png" />
           </div>
        <div class="centerrow"><h3>
                <strong>預定成功</strong>
        </h3>
            </div>
        <div class="centerrow"><strong>
            <h5>
                    <form hidden id="KsearchBooking" asp-controller="Hotels" asp-action="KeeperSearchBookingHistory" asp-route-bookingID="@Model.booking.bookingID">
                    </form>
                    <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('KsearchBooking').submit(); return false;">
                        訂單編號: @Model.booking.bookingID
                    </a>
                    <a href="#"></a>
            </h5>
           
            </strong></div>
        <div class="card" style="width: 100%">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div style="display: flex;align-items: center;justify-content: center;"><h4>預定資料</h4></div>

                    <h5 class="card-title" style="display: flex;align-items: center;justify-content: center;"><strong>旅館名稱:@ViewBag.hotelName</strong></h5>
                    <div class="row centerrow" style="width: 100%;padding-left: 5%;">
                        <div class="col-6 left" style="width: 50%;">
                            <div>訂購人姓名: 黃00</div>
                            <div>總價格:@Model.booking.bookingAmountTotal</div>
                            <div>付款方式:信用卡</div>
                            <div>入住日期</div>
                            <div>@Model.booking.checkinDate</div>
                        </div>
                        <div class="col-6" style="width: 50%;">
                            <div>下單日期:@Model.booking.bookingDate</div>
                            <div>&nbsp;</div>
                            <div>付款卡號:@ViewBag.cardNumber</div>
                            <div>退房日期</div>
                            <div>@Model.booking.checkoutDate</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row centerrow" style="width: 100%;padding-left: 5%;">
                        <div style="width: 100%;display: flex;
        justify-content: center;">
                            <h4>詳細預定資訊</h4>
                        </div>
                        @foreach(var bd in Model.bookingDetails)
                        {
                            <div class="row">
                                <div class="col-6"> @bd.roomName x @bd.bdAmount </div>
                                <div class="col-6">TWD @bd.bdTotal</div>
                            </div>
                        }
                       
                    </div>

                </li>
                <li class="list-group-item">

                    <div class="row centerrow" style="width: 100%;padding-left: 5%;">
                        <div style="display: flex;align-items: center;justify-content: center;"><h4>入住資訊</h4></div>
                        @foreach(var ci in Model.checkinDetails)
                        {
                            <div class="row">
                                <div class="col-6">@ci.roomName - @ci.petType </div>
                                <div class="col-6">@ci.petName - @ci.petType </div>
                            </div>
                        }
                        
                    </div>

                </li>
                <li>
                    <button id="Pay">
                        付款
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var baseAddress = "https://localhost:7112/";
            var bt = document.querySelector('#Pay');
            bt.addEventListener('click', function () {
                sendPaymentInfo();
            });
           

            function sendPaymentInfo() {
                var payment = [];
                
                if (month) {
                    const [year, monthValue] = month.split('-'); // 分割年份和月份
                    const lastDate = new Date(year, parseInt(monthValue), 0); // 獲取該月的最後一天

                    // 將年份、月份和最後一天組合成 YYYY-MM-DD 格式
                    formattedDate = `${lastDate.getFullYear()}-${String(lastDate.getMonth() + 1).padStart(2, '0')}-${String(lastDate.getDate()).padStart(2, '0')}`;


                }
                payment.push({ "cardName": cardholdername, "cardNumber": cardnumber, "cardExpirationDate": formattedDate, "cvvNumber": cvv });
                console.log(payment);
                //alert(payment);

                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `${baseAddress}Hotels/SaveBooking`; // 目標 URI

                // 將 payment 陣列轉換為 JSON 字串
                const ConvertPayment = JSON.stringify(payment);

                // 創建一個隱藏的輸入元素來存放 JSON 字串
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'payment'; // 你可以根據需要修改這個名稱
                input.value = ConvertPayment;

                // 將輸入元素添加到表單中
                form.appendChild(input);

                // 將表單添加到文檔中並提交
                document.body.appendChild(form);
                form.submit(); // 提交表單

            };


           
        });
    </script>
}