@model IEnumerable<Tailstale.Tools.hotelResult>

@section Styles{
    <link href="~/css/newnumberspinner2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="~/css/searchbar.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f5f7fd;
        }

        .btn-primary{
            background: #707038;
            color:aliceblue;
            border:none
        }
        .card{
            max-height: 200px;
            max-width: 100%;
            border-color: #336666;
            background: #CDCD9A
        }
        .hotimg{
            max-width: auto;
            max-height: 180px;
            border: dotted 2px
        }

        .rate {
            color: white;
            padding: 5% 10%;
            font-size: 24px;
            display: inline;
            border: 1px solid black;
            border-radius: 5px 5px 5px 5px;
            background-color: rgb(65, 65, 215);
        }
    </style>
}

<div class="container m-5">
    <div class="row m-0 p-0">
        @* <input class="form-control" placeholder="你要去哪裡" type="text" id="destination" name="destination" />
        <input class="form-control dateRange" type="text" placeholder="日期範圍" /> *@
        <div class="col-3">
            <input class="form-control" placeholder="搜尋附近旅館" type="text" id="destination" name="destination" />
        </div>
        <div class="col-3 col-md-10">
            <input class="form-control dateRange" style="text-align:center;" type="text" placeholder="日期範圍" value="" />
        </div>
        <div class="col-3 searchCookie" style="position:relative;">
            <input type="button" id="showCatDog" class="form-control" value="@ViewBag.Cookie.cat 貓 @ViewBag.Cookie.dog 狗" aria-label="人數" style="width: 100%;">
            <div class="cookie-card" style="display: none; position: absolute; background: white; border: 1px solid #ccc; padding: 10px; z-index: 10;width:100%;">
                <div class="row mb-2">
                    <div class="col-4 pe-2"><span>貓</span></div>
                    <div class="roomA col-8">
                        <div class='ctrl'>
                            <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                            <div class='ctrl__counter'>
                                <input class='ctrl__counter-input' id="Cat" maxlength='2' type='text' value='@ViewBag.Cookie.cat'>
                                <div class='ctrl__counter-num'>@ViewBag.Cookie.cat</div>
                            </div>
                            <div class='ctrl__button ctrl__button--increment'>+</div>
                        </div>
                    </div>
                </div>
                <div style="height:1px"></div>
                <div class="row">
                    <div class="col-4 pe-2"><span>狗</span></div>
                    <div class="roomA col-8">
                        <div class='ctrl'>
                            <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                            <div class='ctrl__counter'>
                                <input class='ctrl__counter-input' value='@ViewBag.Cookie.dog' id="Dog" maxlength='2' type='text' value='0' max="5">
                                <div class='ctrl__counter-num'>@ViewBag.Cookie.dog</div>
                            </div>
                            <div class='ctrl__button ctrl__button--increment'>+</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="actions" style="width:100%;">
                        <button class="accept">
                            完成
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3">
            <button class="btn btn-primary p-1" id="bt" style="font-size:18px;height:100%;width:50%">搜尋</button>
        </div>
    </div>
    <div class="row mt-3 ms-1 pe-5">
        @foreach (var hotel in Model)
        {
            @if (hotel.roomPrice != null)
            {
                <div class="card mb-3 p-0 col-11">
                    <div class="row">
                        <div class="col-3 ms-2">
                            @if (hotel.businesse.photo_url != null)
                            {
                                <div class="p-2">
                                    <img src="~/images/business/@hotel.businesse.photo_url" class="hotimg img-fluid" style="max-width: 100%; height: auto;" />
                                </div>
                            }
                            else
                            {
                                <div class="p-2">
                                    <img src="~/images/noimg.jpg" class="hotimg img-fluid" style="max-width: 95%; height: auto;" />
                                </div>
                            }
                           
                            
                        </div>
                        <div class="col-8">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-10"> <h5 class="card-title">@hotel.businesse.name</h5></div>
                                    <div class="col-2"><div class="rate">@hotel.hotelRate</div></div>

                                </div>
                               
                                <h6>每晚房價:@hotel.onedatePrice X @hotel.date 天</h6>

                                <h5 class="card-title">@String.Format("{0:N0}", hotel.roomPrice) 元</h5>
                                <form asp-controller="Hotels" asp-action="SearchRoom" method="get">
                                    <button type="submit" asp-route-id="@hotel.businesse.ID" asp-controller="Hotels" asp-action="SearchRoom" class="btn-primary">查看訂房狀態</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card mb-3 p-0 col-11">
                    <div class="row">
                        <div class="col-3 ms-2">
                            @if (hotel.businesse.photo_url != null)
                            {
                                <div class="p-2" style="overflow: hidden; padding: 0;">
                                    <img src="~/images/business/@hotel.businesse.photo_url" class="hotimg img-fluid" style="max-width: 100%; height: auto;" />
                                </div>
                            }
                            else
                            {
                                <div class="p-2">
                                    <img src="~/images/noimg.jpg" class="hotimg img-fluid" style="max-width: 95%; height: auto;" />
                                </div>
                            }

                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10"> <h5 class="card-title">@hotel.businesse.name</h5></div>
                                    <div class="col-2"><div class="rate">@hotel.hotelRate</div></div>

                                </div>
                                
                                <form asp-controller="Hotels" asp-action="SearchRoom" method="get">
                                    <button type="submit" asp-route-id="@hotel.businesse.ID" asp-controller="Hotels" asp-action="SearchRoom" class="btn-primary">查看訂房狀態</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

   
</div>





@section Scripts{
   
    
    <script src="~/js/numberspinner.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/searchbar.min.js"></script>
    <script>
        $(document).ready(function () {
            // 從 ViewBag 中獲取資料
            var startDate = "@ViewBag.cookie.startdate"; // 取得開始日期
            var endDate = "@ViewBag.cookie.enddate"; // 取得結束日期

            // 檢查是否有有效的日期範圍
            if (startDate && endDate) {
                $(".dateRange").val(startDate + " ~ " + endDate);
            } else {
                var today = moment().format("YYYY-MM-DD");
                $(".dateRange").val(today + " ~ " + today);
            }

            // 初始化日期範圍選擇器
            $("input.dateRange").daterangepicker({
                opens: "left",
                showDropdowns: true,
                startDate: startDate ? moment(startDate) : moment(),
                endDate: endDate ? moment(endDate) : moment(),
                autoApply: true,
                locale: {
                    format: "YYYY-MM-DD",
                    separator: " ~ ",
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                    firstDay: 1
                }
            });
        });
    </script>
}



