@model Tailstale.MedRecordDTO.MedicalRecordDTO

@{
    ViewData["Title"] = "Create";
}

<h4>新增門診記錄</h4>
<hr>
<div class="container">
    <div class="row">
        <div class="list-group col-2 text-start">
            <a asp-action="Index" asp-controller="Appointments" class="list-group-item list-group-item-action sidebar-item active">預約記錄管理</a>
            <a asp-action="Details" asp-controller="Appointments" class="list-group-item list-group-item-action sidebar-item">過去預約記錄檢視</a>
            <a asp-action="Index" asp-controller="outpatient_clinic" class="list-group-item list-group-item-action sidebar-item ">門診資訊管理</a>
            <a asp-action="Index" asp-controller="daily_outpatient_clinic_schedule" class="list-group-item list-group-item-action sidebar-item">門診表管理</a>
            <a asp-action="Index" asp-controller="departments" class="list-group-item list-group-item-action sidebar-item">科別管理</a>
            <a asp-action="Index" asp-controller="vet_information" class="list-group-item list-group-item-action sidebar-item">醫師資訊管理</a>
            <a asp-action="Index" asp-controller="ward" class="list-group-item list-group-item-action sidebar-item">院內病房管理</a>
            <a asp-action="Index" asp-controller="medical_record" class="list-group-item list-group-item-action sidebar-item">病歷資料</a>
            <a asp-action="Index" asp-controller="Hosp" class="list-group-item list-group-item-action sidebar-item">住院診療</a>
        </div>
        <div class="col-10">
            <div id="basic_info" style="border: 2px solid #003366; padding: 10px; width: 100%; font-family: Arial, sans-serif; display: flex; justify-content: space-between; align-items: center; color: #003366;">
                <div style="font-weight: bold;">
                    飼主: <span style="font-weight: normal;">@Model.keeper_name</span>
                </div>
                <div style="font-weight: bold;">
                    寵物: <span style="font-weight: normal;">@Model.pet_name</span>
                </div>
                <div style="font-weight: bold;">
                    <span style="font-weight: normal;">@Model.species</span>
                    <span style="font-weight: normal;">@Model.pet_breed</span>
                </div>
                <div style="font-weight: bold;">
                    年紀: <span style="font-weight: normal;">@Model.pet_age 歲</span>
                </div>
                <a asp-controller="medical_record" asp-action="Index" asp-route-pet_id="@Model.pet_id" style="text-decoration: none; color: #003366;">
                    <i class="fa-regular fa-clipboard"></i> 門診記錄
                </a>
                <a asp-controller="Hosp" asp-action="Index" asp-route-pet_id="@Model.id" style="text-decoration: none; color: #003366;">
                    <i class="fa-regular fa-hospital"></i> 住院記錄
                </a>
                <a asp-controller="Hosp" asp-action="Index" asp-route-id="@Model.pet_id" style="text-decoration: none; color: #003366;">
                    <i class="fa-solid fa-heart-pulse"></i> 生命徵象
                </a>
                <a asp-controller="Hosp" asp-action="Index" asp-route-id="@Model.pet_id" style="text-decoration: none; color: #003366;">
                    <i class="fa-solid fa-capsules"></i> 用藥記錄
                </a>
                <a asp-controller="Hosp" asp-action="Index" asp-route-id="@Model.pet_id" style="text-decoration: none; color: #003366;">
                    <i class="fa-solid fa-vial-virus"></i> 檢查檢驗
                </a>
                <a asp-controller="Hosp" asp-action="Index" asp-route-id="@Model.pet_id" style="text-decoration: none; color: #003366;">
                    <i class="fa-solid fa-circle-radiation"></i> 醫學影像
                </a>
            </div><br>
            <div class="col-md-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="pet_id" />
                    <div class="form-group">
                        <label asp-for="outpatient_clinic_id" class="control-label"></label>
                        <input asp-for="outpatient_clinic_id" class="form-control" />
                        <span asp-validation-for="outpatient_clinic_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="weight" class="control-label"></label>
                        <input asp-for="weight" class="form-control" />
                        <span asp-validation-for="weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="complain" class="control-label"></label>
                        <input asp-for="complain" class="form-control" />
                        <span asp-validation-for="complain" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="diagnosis" class="control-label"></label>
                        <input asp-for="diagnosis" class="form-control" />
                        <span asp-validation-for="diagnosis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="memo" class="control-label"></label>
                        <input asp-for="memo" class="form-control" />
                        <span asp-validation-for="memo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fee" class="control-label"></label>
                        <input asp-for="fee" class="form-control" />
                        <span asp-validation-for="fee" class="text-danger"></span>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" value="新增" class="btn btn-primary" />
                        <a asp-action="Index" asp-route-pet_id="@Model.pet_id">返回</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
