@model Tailstale.MedRecordDTO.MedicalRecordDTO

@{
    ViewData["Title"] = "Details";
}

<h1>門診記錄</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.keeper_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.keeper_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pet_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pet_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fee)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="medical_record" asp-action="Edit" asp-route-id="@Model.id">修改</a> |
    <a asp-controller="Hosp" asp-action="Index" asp-route-medical_records_id="@Model.id">住院</a> |
    <a asp-action="Index" asp-route-pet_id="@ViewBag.pet_id">返回</a>
</div>
