@model IEnumerable<Tailstale.MedRecordDTO.MedicalRecordDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>病歷記錄</h1>
<p>
    <a asp-action="Create" asp-route-pet_id="@ViewBag.pet_id"><i class="fa-solid fa-plus"></i>新增記錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keeper_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pet_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.outpatient_clinic_id)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    <a href="medical_record/Details/@item.id">@item.created_at?.ToString("yyyy-MM-dd HH:mm")</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.keeper_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pet_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.memo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.outpatient_clinic_id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">修改</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
