    @model IEnumerable<Tailstale.MedRecordDTO.MedicalRecordDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>病歷記錄</h1>
<br>
@if (ViewBag.basicInfo != null)
{
    <div id="basic_info" style="border:2px solid black;">
        飼主: @ViewBag.basicInfo.keeper_name
        寵物: @ViewBag.basicInfo.pet_name
        @ViewBag.basicInfo.pet_breed
        年紀: @ViewBag.basicInfo.pet_age 歲
    </div>
}
<br>
<br>
@if (Model.Any())
{
    <a asp-action="Create" asp-route-pet_id="@ViewBag.pet_id">新增門診記錄</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datetime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.keeper_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pet_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.memo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.outpatient_clinic_id)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        <a href="medical_record/Details/@item.id">@item.Datetime?.ToString("yyyy-MM-dd HH:mm")</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.keeper_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pet_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.outpatient_clinic_id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">修改</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        沒有門診記錄
        <br><br>
        <a asp-action="Create" asp-route-pet_id="@ViewBag.pet_id">新增門診記錄</a>
    </p>
}

