@model IEnumerable<Tailstale.Models.business_img_type>

@{
    ViewData["Title"] = "Index";
}

<h1>圖片類型</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_business)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_business.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
