@model Tailstale.Hotel_DTO.EditRoomDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomSpecies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomReserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomReserve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomDescrep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomDescrep)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_roomImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_roomImg.ID)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomType.roomType1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomType.roomType1)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hotelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hotel.name)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.roomID">Edit</a> |
    <a asp-action="ShowRoomFromHotel" asp-route-id="@Model.hotelID">返回到房間列表</a>
</div>
