@model IEnumerable<Tailstale.Models.Room>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomSpecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.roomDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomReserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomDescrep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_roomImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_roomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomSpecies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomReserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDescrep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_roomImg.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_roomType.roomType_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotel.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.roomID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.roomID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.roomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
