@model IEnumerable<Tailstale.Models.Room>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomSpecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomReserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomDescrep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomSpecies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomReserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDescrep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotel.name)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.roomID">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.roomID">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.roomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
