@model IEnumerable<Tailstale.Models.Service>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    
    <link href="~/css/salonselecttb.css" rel="stylesheet" />
}

<header>
    <partial name="_NavBar" />
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a asp-area="" asp-controller="Salon" asp-action="Settings">美容設定</a></li>
        <li class="breadcrumb-item active" aria-current="page">服務項目</li>
    </ol>
</nav>
<h1>門市服務項目</h1>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="bi bi-hand-index-thumb"></i>Create New</a>
</p>

<div>
   @*  <h3><i class="bi bi-search"></i>查詢美容門市</h3> *@
    @* <select id="typeIdInput" class="form-control" asp-items="ViewBag.business_type"></select>
    <input id="selectday" type="submit" value="查詢" class="btn btn-info mt-2" /> *@
    <div class="mb-3">
            <table class="table border  table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.service_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.service_content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.service_img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.business)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.service_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.service_content)
                            </td>
                            <td>
                                <img src="~/Salon_img/@Html.DisplayFor(modelItem => item.service_img)" alt="Alternate Text" style="width:240px;height:200px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.business.name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id"><i class="bi bi-highlighter"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.id"><i class="bi bi-info-circle"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.id"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        
    </div>
</div>


@section Scripts
{
    
}



