@model Tailstale.MedRecordDTO.HospDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除記錄</h1>

<div>
    <h4>hosp_history</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.admission_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.admission_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discharge_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discharge_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_record_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_record_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nursing_record_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nursing_record_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ward_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ward_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
