@model IEnumerable<Tailstale.MedRecordDTO.HospDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>住院記錄</h1>

<div>
    
</div>
<br /><br />
@if (Model.Any()) @* 檢查是否有住院記錄 *@
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.admission_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discharge_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.medical_record_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.medical_record_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ward_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.memo)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.admission_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discharge_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.medical_record_id)
                    </td>
                    <td>
                        @*住院的看診記錄*@
                        <a href="/medical_record/Details/@item.medical_record_id">@item.created_at</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ward_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memo)
                    </td>
                    <td>
                        <a asp-controller="nursing_record" asp-action="Index" asp-route-hosp_history_id="@item.id">護理記錄</a>
                        <a asp-action="Edit" asp-route-id="@item.id">修改</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        此醫療記錄沒有相關的住院資料
    <a asp-action="Create" asp-route-medical_record_id="@ViewBag.medical_record_id">新增住院記錄</a>
    </p>
}