@model IEnumerable<Tailstale.MedRecordDTO.HospDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>住院記錄列表</h1>
<span>
    <a asp-controller="medical_record" asp-action="Index">病歷紀錄</a>
    <a asp-controller="nursing_record" asp-action="Index">護理紀錄</a>
</span>
<br />
<br />
<p>
    <a asp-action="Create">新增記錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admission_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discharge_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medical_record_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nursing_record_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ward_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.admission_date)
                </td>
                <td>
                    @Html.DisplayFor(moitemdelItem => item.discharge_date)
                </td>
                <td>
                    <a href="/medical_record/Details/@item.medical_record_id">詳細記錄</a>
                </td>
                <td>
                    <a href="/nursing_record/Details/@item.nursing_record_id">詳細記錄</a>
                    @* @Html.DisplayFor(modelItem => item.nursing_record_id) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ward_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.memo)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">詳細記錄</a>
                    <a asp-action="Edit" asp-route-id="@item.id">修改</a>
                    <a asp-action="Delete" asp-route-id="@item.id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
