@model IEnumerable<Tailstale.MedRecordDTO.HospDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>住院記錄列表</h1>

<p>
    <a asp-action="Create">新增住院記錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admission_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discharge_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medical_record_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nursing_record_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ward_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.admission_date)
                </td>
                <td>
                    @Html.DisplayFor(moitemdelItem => item.admission_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.discharge_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nursing_record_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ward_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.memo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">修改記錄</a> |
                    <a asp-action="Details" asp-route-id="@item.id">詳細資料</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">刪除記錄</a>
                </td>
            </tr>
        }
    </tbody>
</table>
