@model IEnumerable<Tailstale.Models.Business_hour>
@* @model IEnumerable<Tailstale.Models.Orders> *@


<table class="table border table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.business_day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.people_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.business)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.business_day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.people_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.business.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
