@model IEnumerable<Tailstale.Hotel_DTO.RoomDTO>

<p>
    <a class="btn btn-primary" id="submit">送出訂單</a>
</p>
<p>
    <label>使用者</label>
    <input type="number" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomSpecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomType.roomType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomPrice)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.roomReserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomDescrep)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="room-row" data-room-number="@item.roomID" data-price="@item.roomPrice">
            <td>
                @Html.DisplayFor(modelItem => item.roomSpecies)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.roomType.roomType1)
            </td>
            <td id="price">
                @Html.DisplayFor(modelItem => item.roomPrice)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.roomReserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDescrep)
            </td>
                <td>
                    <input type="number" class="quantity-input" value="1" min="1" />
                </td>
        
            <td>
                    <form>
                        <input type="hidden" name="roomID" value="@item.roomID" />
                        <input type="hidden" name="quantity" value="1" />
                        <button id="@item.roomID" class="add-to-cart" type="button">加入購物車</button>
                        
                    </form>
             
               
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{

    @* <script>
        $(function () {
            var cartButtons = document.querySelectorAll('.add-to-cart');
            cartButtons.on("click", function () {
                alert("111");
            });
            // cartButtons.forEach(function (btn) {
            //     btn.addEventListener('click', function () {
            //         var roomID = this.id;
            //         var quantity = this.parentElement.querySelector('input[name="quantity"]').value;

            //         // 在這裡處理加入購物車的邏輯
            //         console.log('Room ID:', roomID);
            //         console.log('Quantity:', quantity);
            //     });
            // });
        });
    </script> *@

    <script>
        $(document).on('click', '.add-to-cart', function () {
            var roomID = this.id.split('-')[1];
            var quantity = $(this).closest('form').find('input[name="quantity"]').val();

            // 在這裡處理加入購物車的邏輯
            console.log('Room ID:', roomID);
            console.log('Quantity:', quantity);
        });
    </script>
}