@model Tailstale.Hotel_DTO.BookingDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KeeperName" class="control-label"></label>
                <select asp-for="KeeperName" class ="form-control" asp-items="ViewBag.keeper_ID"></select>
            </div>
           @*  <div class="form-group">
                <label asp-for="" class="control-label"></label>
                <select asp-for="hotelID" class ="form-control" asp-items="ViewBag.hotelID"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="CheckinDate" class="control-label"></label>
                <input type="date" min="@DateTime.Now.Date" max="@DateTime.Now.Date.AddMonths(24)" placeholder="@DateTime.Now.Date" asp-for="CheckinDate.Date" class="form-control" />
                <span asp-validation-for="CheckinDate" class="validity text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckoutDate" class="control-label"></label>
                <input type="date" min="@DateTime.Now" max="@DateTime.Now.AddMonths(24)" placeholder="@DateTime.Now.Date" asp-for="CheckoutDate.Date" class="form-control" />
                <span asp-validation-for="CheckoutDate"  class="validity text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingTotal" class="control-label"></label>
                <input asp-for="BookingTotal" class="form-control" />
                <span asp-validation-for="BookingTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <select asp-for="BookingStatus" class="form-control" asp-items="ViewBag.bookingStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
