@model IEnumerable<Tailstale.Hotel_DTO.FindRoomResultDTO>



<table class="form-control">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.roomID)</td>
            <td>@Html.DisplayNameFor(model => model.roomType.roomType1)</td>
            <td>@Html.DisplayNameFor(model => model.roomPrice)</td>
            <td>@Html.DisplayNameFor(model => model.roomReserve)</td>
            <td>@Html.DisplayNameFor(model => model.hotelID)</td>
            <td>@Html.DisplayNameFor(model => model.roomDescription)</td>
            <td>@Html.DisplayNameFor(model => model.roomSpecies)</td>
        </tr>

    </thead>
    <tbody>

        @foreach (var r in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => r.roomID)</td>
                <td>@Html.DisplayFor(modelItem => r.roomType.roomType1)</td>
                <td>@Html.DisplayFor(modelItem => r.roomPrice)</td>
                <td>@Html.DisplayFor(modelItem => r.roomReserve)</td>
                <td>@Html.DisplayFor(modelItem => r.hotelID)</td>
                <td>@Html.DisplayFor(modelItem => r.roomDescription)</td>
                <td>@Html.DisplayFor(modelItem => r.roomSpecies)</td>
            </tr>
        }
    </tbody>
</table>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="btn-primary">查看訂房狀態</button>
            </div>
        </div>
    </div>
</div>

