@model IEnumerable<Tailstale.Models.Room>

@{
    ViewData["Title"] = "ShowRoom";
}

<h1 id="hotelNameDisplay"></h1>
<div>
    <p>
        <a id="create" class="btn btn-primary" asp-action="Create">新增房間</a>
    </p>
</div>

<div class="container">
    <div class="mb-3 mx-1 mx-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.roomSpecies)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FK_roomType.roomType1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.roomPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.roomDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.roomReserve)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.roomDescrep)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomSpecies)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FK_roomType.roomType1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomReserve)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomDescrep)
                        </td>

                        <td>
                            <form>
                                <input type="hidden" name="roomID" value="@item.roomID" />
                                <input type="hidden" name="quantity" value="1" />
                                <button id="@item.roomID" class="add-to-cart" type="button">加入購物車</button>

                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>


@section Scripts {
    <script>

        $(function () {
            var cartButtons = document.querySelectorAll('.add-to-cart');
            
            cartButtons.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var roomID = this.id;
                    var quantity = this.parentElement.querySelector('input[name="quantity"]').value;

                    // 在這裡處理加入購物車的邏輯
                    // console.log('Room ID:', roomID);
                    // console.log('Quantity:', quantity);
                });
            });
        });

    </script>
}
