@model Tailstale.Models.Beautician

@{
    ViewData["Title"] = "Details";
}

@section Styles{
    <style>
        .col-sm-10 {
            max-width: 100%;
            /* 使用 word-wrap 属性，允许长单词或 URL 地址换行 */
            word-wrap: break-word;
        }
    </style>
}
<h1>Details</h1>

<div>
    <h4>Beautician</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Salon_img/@Html.DisplayFor(model => model.photo)" alt="Alternate Text" style="width:320px;height:240px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Highest_license)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Salon_img/@Html.DisplayFor(model => model.Highest_license)" alt="Alternate Text" style="width:320px;height:240px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.business)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.business.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
