@model Tailstale.Models.Beautician

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}

<h1>修改美容師資料</h1>

@* <h4>Beautician</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                @* <input asp-for="gender" class="form-control" /> *@
                <select asp-for="gender" class="form-control" id="gender">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" type="file" accept="image/*" class="form-control" onchange="previewImage(this, 'imgPreviewPhoto')" />
                <span asp-validation-for="photo" class="text-danger"></span>
                <img id="imgPreviewPhoto" src="~/Salon_img/@Model.photo" width="220" height="200" />
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label"></label>
                <select asp-for="business_ID" class="form-control" asp-items="ViewBag.business_ID"></select>
                <span asp-validation-for="business_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Highest_license" class="control-label"></label>
                <input asp-for="Highest_license" type="file" accept="image/*" class="form-control" onchange="previewImage(this, 'imgPreviewPicture')" />
                <span asp-validation-for="Highest_license" class="text-danger"></span>
                <img id="imgPreviewPicture" src="~/Salon_img/@Model.Highest_license" width="220" height="200" />
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                @* <input asp-for="Remark" class="form-control" /> *@
                <textarea id="Remark" name="Remark" class="form-control">@Model.Remark</textarea>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-3" asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.onload = function () {
            var photoInput = document.getElementById('photo');
            var pictureInput = document.getElementById('Highest_license'); // 注意這裡的 id

            photoInput.onchange = function () {
                previewImage(this, 'imgPreviewPhoto', '@Url.Content("~/Salon_img/")', '@Model.photo');
            };

            pictureInput.onchange = function () {
                previewImage(this, 'imgPreviewPicture', '@Url.Content("~/Salon_img/")', '@Model.Highest_license');
            };

            function previewImage(input, imgId, baseUrl, defaultImage) {
                var imgPreview = document.getElementById(imgId);
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        imgPreview.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    // 如果没有选择文件，则显示默认图片
                    imgPreview.src = baseUrl + defaultImage;
                }
            }
        };
    </script>
}
